version: '3.2'

services:
  nginx:
    image: {{ project_image }}
    restart: unless-stopped
    volumes:
      - ./nginx:/etc/nginx/conf.d
    networks:
      - traefik-public
    deploy:
      resources:
        limits:
          cpus: '0.80'
          memory: 1024M
        reservations:
          cpus: '0.40'
          memory: 512M
      placement:
        constraints:
          - node.labels.project.types.website == true
      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik-public
        - traefik.constraint-label=traefik-public
        - traefik.http.routers.demo.entrypoints=http, https
        - traefik.http.routers.demo.middlewares=redirect-www-to-non-www@file
        - traefik.http.routers.demo.rule=HostRegexp(`{host:(www.)?{{ project_public_host }}}`)
        - traefik.http.routers.demo.tls=true
        - traefik.http.routers.demo.tls.certresolver={{ traefik_tls_certresolver }}
        - traefik.http.services.demo-service.loadbalancer.server.port=80

networks:
  # Use the previously created public network "traefik-public", shared with other
  # services that need to be publicly available via this Traefik
  traefik-public:
    external: true

